.a:visited {
    outline: none;
    color: rgb(27, 8, 112);
 }
.a:focus { 
    outline: none;
    color: rgb(27, 8, 112);
 }
.a:active { 
    outline: none;
    color: rgb(27, 8, 112);
    
 }

 .a{
     width: 225px;
 }
 